{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "flex flex-col items-center justify-center position-center login-color box-shadow">
    <div class = "login rounded-md font-bold p-8 w-full max-w-720px">
    
        <h1 class = "text-center">Login</h1>
    
        <form method="POST" action="">
            {% csrf_token %}
            <div class = "p-8"> 
                <div class = "my-4">
                    <p>Username: </p>
                    <input type="text" name="username" placeholder="Username" class="form-control w-full">
                </div>

                <div class = "my-4">
                    <p>Password: </p>
                    <input type="password" name="password" placeholder="Password" class="form-control w-full">
                </div>
    
                <div>
                    <button class="btn btn-primary w-full" type="submit"> Login </button>
                </div>
            </div>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
        <p class = "text-red font-bold text-center"> Belum mempunyai akun? </p> 
        <div class = "text-center">
            <a href="{% url 'todolist:register' %}">Buat Akun</a>
        </div>
    </div>
</div>

{% endblock content %}