{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "flex flex-col items-center justify-center position-center login-color box-shadow">
    
    <div class = "p-8">
        <h1>Formulir Registrasi</h1>  

            <form method="POST" class = "flex flex-col">  
                {% csrf_token %}  
                <table>  
                    {{ form.as_table }}  
                </table>  
                <div class = "pt-8 text-center"><button class="btn btn-primary w-full mb-8" type="submit"> Daftar </button></div>
            </form>

        {% if messages %}  
            <ul class = "text-center">   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    </div>
</div>  

{% endblock content %}